{{- if or (.Params.math) (.Site.Params.math) (.Params.katex) (.Site.Params.katex) -}}
  <link rel="stylesheet" href="{{ "/katex@0.15.1/katex.min.css" | relURL }}" >
  {{/* The loading of KaTeX is deferred to speed up page rendering */}}
  <script defer src="{{ "/katex@0.15.1/katex.min.js" | relURL }}"></script>
  <script defer src="{{ "/katex@0.15.1/contrib/auto-render.min.js" | relURL }}"
    onload="renderMathInElement(document.body,
      {
        delimiters: [
          {left: '$$', right: '$$', display:true},
          {left: '$', right: '$', display:false},
          {left: '\\(', right: '\\)', display: false},
          {left: '\\[', right: '\\]', display: true}
        ]
      }
    );"></script>
{{- end -}}
